<!DOCTYPE html>
<html>
<div align="center">
	<div class="col">
	
			<% if(type==='user') {%>
			<h2>Orders</h2>
			<hr>
				<%if(orders.length > 0) {%>
		
					<% orders.forEach(function(order){ %>
					   <% order.items.forEach(function(item){ %>
					   		<div id="single_box">

					   			<ul>name: <%=item.item.name %></ul>
					   			<ul>Totalprice: <%=item.price %></ul>
					   			<ul>Quantity: <%=item.qty %></ul>
					   			
					   		</div>
					   <% }); %>
					   		<div>
					   		<p>-------------------------------------</p>
					   			<ul>TotalOrderPrice: <%=order.cart.totalPrice %></ul>
					   			<a href='/admin/removeOrder/<%=order._id %>'><button >Remove Order</button></a>
					   		</div>
					   		<hr>
					<% }); %>

					
				<%}else {%>
				<h3> No Order Found</h3>
				<%}%>
			<%} else {%>
					<h3>Products!!!!</h3>
					<hr>
					<%if(products.length > 0){%> <hr>
					
					<div class="product_box">

						<% products.forEach(function(item){ %>
							<div id="single_box">
								<!-- <ul>Date:item.date</ul> -->
					   			<ul>name: <%=item.name %></ul>
					   			<ul>Price: <%=item.price %></ul>
					   			<ul>Quantity: <%=item.qty %></ul>
								<a href='/admin/editProduct/<%=item._id %>' ><button>Edit Product</button></a>    
								<a href='/admin/removeProduct/<%=item._id %>'><button >Remove Product</button></a>
					   			
					   		</div>
					   		<hr>
						<% }); %>
					<div>	

					<%} else {%>
							<h3> No Product Found</h3>
					<%}%>
					 
			<% } %>


		</form>
	</div>
</div>

</html>





		
           
