
  <div id="product">

   <% products.forEach(function(products){ %>
   <div id="center_content">
          
       <div class="product_box">
         
                            
        <div id='single_product'> 

              <h3><%=products.name %> </h3>
        
              <img src="<%=products.imagePath%>" width="200" height="200" alt="My Pic" /><br>

              <p><b>Price:<%=products.price%> Rs</b></p> 
              <%if(products.qty > 0) {%>
              <p><b>Quantity Available:<%=products.qty%></b></p> 
              <a href='/productss/details/<%=products._id %>' style='float:left';>Details</a>    
              <a href='/add-to-cart/<%=products._id %>'><button style='float:right;'>Add to cart</button></a>
              <%} else {%>
              <ul>Currently Not available!!<br>Coming soon...</ul>
              <%}%>
              
                
        </div> 
            
  
      </div>
  </div>
  <% }) ;%>
  </div>
  