 <div align="center">
 <h2>My Cart <h2>
 <hr>
 <% if(products && totalPrice > 0){ %> 


<% products.forEach(function(item){ %>
  <div id="center_content">
          
       <div style= 'padding-left: 8px'>
            <b style= 'padding-left: 20px'>Name:<%=item.item.name%> </b>               
            <b style= 'padding-left: 20px'>Quantity:<%=item.qty%> </b>
            <b style= 'padding-left: 20px'>Price:<%=item.price%> </b>  
            <a href="/reduceCart/<%=item.item._id%>" style= 'padding-left: 20px'><button>Reduce by 1</button></a> 
            <a href="/removeFromCart/<%=item.item._id%>" style= 'padding-left: 20px'><button>Remove from Cart </button></a> 
            <form action="/add_product_by_qty", method="GET">
              Add Quantity:<input type="Number" name="qty" >
              <input type="hidden" name="id" value="<%=item.item._id%>">
              <input type="submit" name="submit">
            </form>
          

        </div> 
            
  
  </div>
  <% }); %>
  <hr>

  <div>
    <div> 
        <strong>Total: <%=totalPrice%> </strong>
    </div>

  </div>
  <div>
  <br>
    <div> 
        <a href="/shop/checkout" ><button>checkout</button></a>
    </div>

  </div>

  <% } else { %>
  <h1>No item on cart<h1>
  <%}%>
  </div>
  
          
     
           
                     
                          
                                


                       
         
    
 
  